<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcKGe3sF0tnh4JEDqDsQrR7FaRgH8MmxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>295057533396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled14</string>
	<key>PROJECT_ID</key>
	<string>unitled-ecc9d</string>
	<key>STORAGE_BUCKET</key>
	<string>unitled-ecc9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295057533396:ios:016e968758d0f3eeb28e41</string>
</dict>
</plist>